


 .box{
    display: grid;
    grid-template-columns: .2fr 1fr;
    background-color: #fff;
    width: 80rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box:first-child{
    margin-top: 8rem;
}

.box .myimg img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.box .myinfo{
    margin-left: 2rem;
    padding: 1rem;
}

 .box .myinfo h1{
    font-size: 1.8rem;
    font-weight: 600;
}
 .box .myinfo h2{
    font-weight: 400;
    font-size: 2rem;
}
.box .myinfo h4{
    font-weight: 500;
    color: lightgray;
}

